// Moonshine
// Scalable and Maintainable Architecture.
//
// Author:   Jack Ryan Oracoy
// Website:  https://jackryanoracoy.github.io
// Email:    jackryanoracoy@gmail.com
// URL:      https://github.com/jackryanoracoy/moonshine
// License:  https://github.com/jackryanoracoy/moonshine/blob/master/LICENSE.txt

/*--------------------------------------------------
  Body
--------------------------------------------------*/

body {
  min-width: inherit;
  color: inherit;
  font-size: 1.4rem;
  font-family: inherit;

  & ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: #E0E0E0;
  }

  & ::-webkit-scrollbar-thumb {
    background-color: #BDBDBD;
  }

  @include media-breakpoint-min(md) {
    font-size: 1.5rem;
  }

  @media print { font-family: inherit; width: 100%; }
}
