// Twilightbloom
// Simple, Scalable and Maintainable Architecture.
//
// Author:   Jack Ryan Oracoy
// Website:  https://jackryanoracoy.github.io
// Email:    jackryanoracoy@gmail.com
// URL:      https://github.com/jackryanoracoy/twilightbloom
// License:  https://github.com/jackryanoracoy/twilightbloom/blob/master/LICENSE.txt

/*--------------------------------------------------
  Site-header
--------------------------------------------------*/

.l-site-header {
  position: relative;
  width: 100%;
  transition: $transition;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    max-width: $container-xl;
    height: $header-height_m;
    margin-right: auto;
    margin-left: auto;
  }

  &__menu {
    max-width: 50px;
  }

  &__branding {
    max-width: calc(100% - 50px);
  }

  @include media-breakpoint-min(lg) {
    &__content {
      height: $header-height;
      padding: 0 20px;
    }

    &__branding,
    &__action {
      width: auto;
      max-width: 50%;
    }

    &__branding {
      width: auto;
    }
  }

  @include media-breakpoint-max(lg) {
    &.js-active {
      box-shadow: none;
    }

    &__action {
      position: fixed;
      right: 10px;
      bottom: 10px;
    }
  }
}
