// Moonshine
// Scalable and Maintainable Architecture.
//
// Author:   Jack Ryan Oracoy
// Website:  https://jackryanoracoy.github.io
// Email:    jackryanoracoy@gmail.com
// URL:      https://github.com/jackryanoracoy/moonshine
// License:  https://github.com/jackryanoracoy/moonshine/blob/master/LICENSE.txt

/*--------------------------------------------------
  Object-fit
--------------------------------------------------*/

.u-object-fit {
  object-fit: inherit;
  width: 100%;
  height: 100%;

  &--contain {
    object-fit: contain;
    font-family: "object-fit: contain;";
  }

  &--cover {
    object-fit: cover;
    font-family: "object-fit: cover;";
  }

  &--fill {
    object-fit: fill;
    font-family: "object-fit: fill;";
  }

  &--scale_down {
    object-fit: scale-down;
    font-family: "object-fit: scale-down;";
  }

  &--none {
    object-fit: none;
    font-family: "object-fit: none;";
  }

  &--top { object-position: top; }
  &--right { object-position: right; }
  &--bottom { object-position: bottom; }
  &--left { object-position: left; }
  &--center { object-position: center; }

  @each $breakpoint in map-keys($breakpoints) {
    @include media-breakpoint-min($breakpoint) {
      &--contain-#{$breakpoint} {
        object-fit: contain;
        font-family: "object-fit: contain;";
      }

      &--cover-#{$breakpoint} {
        object-fit: cover;
        font-family: "object-fit: cover;";
      }

      &--fill-#{$breakpoint} {
        object-fit: fill;
        font-family: "object-fit: fill;";
      }

      &--scale_down-#{$breakpoint} {
        object-fit: scale-down;
        font-family: "object-fit: scale-down;";
      }

      &--none-#{$breakpoint} {
        object-fit: none;
        font-family: "object-fit: none;";
      }

      &--top-#{$breakpoint} { object-position: top; }
      &--right-#{$breakpoint} { object-position: right; }
      &--bottom-#{$breakpoint} { object-position: bottom; }
      &--left-#{$breakpoint} { object-position: left; }
      &--center-#{$breakpoint} { object-position: center; }
    }
  }
}
