// Twilightbloom
// Simple, Scalable, and Maintainable Architecture.
//
// Author:   Jack Ryan Oracoy
// Website:  https://jackryanoracoy.github.io
// Email:    jackryanoracoy@gmail.com
// URL:      https://github.com/jackryanoracoy/twilightbloom
// License:  https://github.com/jackryanoracoy/twilightbloom/blob/master/LICENSE.txt

/*--------------------------------------------------
  Clearfix
--------------------------------------------------*/

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
